# Compiled Object files
*.obj
*.o
*.a

# Compiled Dynamic Libraries


# Turbo Pascal
*.tpu
*.mod
*.bak

#Free Pascal
*.ppu
*.err
*.out

# Executables


# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


#Dos Motor Driver
MOTOR

#log files
*.log

#Mill workfiles
Mill/CALLFILE.PAX
Mill/LABFILE.PAX
Mill/MATHFILE.PAX
Mill/WORK.PAX
Mill/WORKFILE.PAX
Mill/LOCATION.PAX
Mill/LOADFILES.PAX
Mill/DRAW.PAX
Mill/MEDIT.BAT
Mill/BITSAVE.TMP

#Other Files
~~ProMill2Smoothie.txt
Configure.log

Mill/*.dxf
Mill/DRAW.DXF

!Mill/ProMill.lnk

